ul#recipents li{
    display:inline;
    margin-right:10px;
   font-size:20px
 }
 
 button{
   padding:5px;
   border-radius:2px;
   color:black;
 }
 
 #to-container{
   padding:5px;
   background-color:#ebeeb3;
   min-width:300px;
   min-height:50px;
 }
 
 #contact-list{
   padding:5px;
   border:solid;
   margin-top:5px;
 }